In [1171]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [1172]:
transfusion=pd.read_csv('transfusion (1).csv')
transfusion

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),Blood Donor
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
...,...,...,...,...,...
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [1173]:
transfusion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Recency (months)       748 non-null    int64
 1   Frequency (times)      748 non-null    int64
 2   Monetary (c.c. blood)  748 non-null    int64
 3   Time (months)          748 non-null    int64
 4   Blood Donor            748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [1174]:
transfusion.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),Blood Donor
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [1175]:
transfusion.isnull().sum()

Recency (months)         0
Frequency (times)        0
Monetary (c.c. blood)    0
Time (months)            0
Blood Donor              0
dtype: int64

In [1176]:
x=transfusion.iloc[:,0:-1]
y=transfusion.iloc[:,-1]

In [1177]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=15)
model_logic=LogisticRegression()
model_logic

LogisticRegression()

In [1178]:
model_logic.fit(x_train,y_train)

LogisticRegression()

In [1179]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler

In [1180]:
sc=StandardScaler()

In [1181]:
sc.fit(x_train)

StandardScaler()

In [1182]:
x_train_sc=sc.transform(x_train)
x_test_sc=sc.transform(x_test)

In [1183]:
prediction=model_logic.predict(x_test)
score=accuracy_score(prediction,y_test)
print("Accuracy Percentage= ",score*100,"%")

Accuracy Percentage=  82.0 %

In [1184]:
classifier=DecisionTreeClassifier(criterion='gini')

In [1185]:
classifier.fit(x_train_sc,y_train)

DecisionTreeClassifier()

In [1186]:
classifier.score(x_test_sc,y_test)

0.7066666666666667

In [1187]:
classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [1188]:
classifier.score(x_test,y_test)

0.7133333333333334

In [1189]:
classifier_sc_entropy=DecisionTreeClassifier(criterion='entropy')
classifier_sc_entropy.fit(x_train_sc,y_train)
classifier_sc_entropy.score(x_test_sc,y_test)

0.7333333333333333

In [1190]:
classifier_sc_entropy.fit(x_train,y_train)
classifier_sc_entropy.score(x_test,y_test)

0.7266666666666667

In [1191]:
#accuracy percetage is maximum in LogisticRegression
import joblib

In [1192]:
joblib.dump(model_logic,'LogisticRegression_transfusion_2015538_0.82.joblib')

['LogisticRegression_transfusion_2015538_0.82.joblib']

In [1193]:
input_data=(2,50,12500,98)

#change the inpute data to a numpy array
input_data_as_numpy_array=np.asarray(input_data)

#reshape the numpy array as we are predicting for only on instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

pre=model_logic.predict(input_data_reshaped)
print(pre)

if(pre==0):
    print('The Person is not donor')
else:
    print('The Person is donor')

[1]
The Person is donor

C:\Users\KIIT\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(